include README.md
include Dockerfile
include entrypoint.sh
recursive-include package_create_incident/util *
include package_create_incident/LICENSE
include doc/*.md
include doc/screenshots/*
recursive-include payload_samples/*/ *.json

exclude *.bak